@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@font-face {
  font-family: Monserrat;
  src: url('../../public/fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Monserrat-Bold;
  src: url('../../public/fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: Monserrat-Medium;
  src: url('../../public/fonts/montserrat/Montserrat-Medium.ttf');
}

body {
  color: var(--foreground);
  background: #000814;
  font-family: Monserrat;
}

.bg-footer-accent {
  background-color: #003566;
}

.bg-secondary-bg {
  background-color: #001D3D;
}

.bg-main-accent {
  background-color: #ffc300;
}


#switch-toggle {
  /*  Toggle Switch  */

  .toggleSwitch span span {
    display: none;
  }

  .toggleSwitch {
    display: inline-block;
    position: relative;
    overflow: visible;
    padding: 0;
    cursor: pointer;
    width: 200px;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 34px;
    border-radius: 20px;
  }

  .toggleSwitch * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .toggleSwitch label,
  .toggleSwitch>span {
    line-height: 20px;
    height: 20px;
    vertical-align: middle;
  }

  .toggleSwitch input:focus~a,
  .toggleSwitch input:focus+label {
    outline: none;
  }

  .toggleSwitch label {
    position: relative;
    z-index: 3;
    display: block;
    width: 100%;
  }

  .toggleSwitch input {
    position: absolute;
    opacity: 0;
    z-index: 5;
  }

  .toggleSwitch>span {
    position: absolute;
    left: 0;
    width: calc(100% - 6px);
    margin: 0;
    text-align: left;
    white-space: nowrap;
    margin: 0 3px;
  }

  .toggleSwitch>span span {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    width: 50%;
    margin-left: 50px;
    text-align: left;
    font-size: 0.9em;
    width: auto;
    left: 0;
    top: -1px;
    opacity: 1;
    width: 40%;
    text-align: center;
    line-height: 34px;
  }

  .toggleSwitch a {
    position: absolute;
    right: 50%;
    z-index: 4;
    display: block;
    top: 0px;
    bottom: 0px;
    padding: 0;
    left: 0px;
    width: 52%;
    background-color: #ffc300;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
  }

  .toggleSwitch>span span:first-of-type {
    color: #000814;
    opacity: 1;
    left: 0;
    margin: 0;
    width: 50%;
    font-weight: 700;
  }

  .toggleSwitch>span span:last-of-type {
    left: auto;
    right: 0;
    color: #999;
    margin: 0;
    width: 50%;
    font-weight: 700;
  }

  .toggleSwitch>span:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -2px;
    /* background-color: #fafafa;
	border: 1px solid #ccc; */
    border-radius: 30px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  .toggleSwitch input:checked~a {
    left: calc(50% - 3px);
  }

  .toggleSwitch input:checked~span:before {
    /* border-color: #0097D1;
	box-shadow: inset 0 0 0 30px #0097D1; */
  }

  .toggleSwitch input:checked~span span:first-of-type {
    left: 0;
    color: #999;
    font-weight: 700;
  }

  .toggleSwitch input:checked~span span:last-of-type {
    /* opacity: 1;
	color: #fff;	 */
    color: #000814;
    font-weight: 700;
  }

  /* Switch Sizes */
  .toggleSwitch.large {
    width: 60px;
    height: 27px;
  }

  .toggleSwitch.large a {
    width: 27px;
  }

  .toggleSwitch.large>span {
    height: 29px;
    line-height: 28px;
  }

  .toggleSwitch.large input:checked~a {
    left: 41px;
  }

  .toggleSwitch.large>span span {
    font-size: 1.1em;
  }

  .toggleSwitch.large>span span:first-of-type {
    left: 50%;
  }

  .toggleSwitch.xlarge {
    width: 80px;
    height: 36px;
  }

  .toggleSwitch.xlarge a {
    width: 36px;
  }

  .toggleSwitch.xlarge>span {
    height: 38px;
    line-height: 37px;
  }

  .toggleSwitch.xlarge input:checked~a {
    left: 52px;
  }

  .toggleSwitch.xlarge>span span {
    font-size: 1.4em;
  }

  .toggleSwitch.xlarge>span span:first-of-type {
    left: 50%;
  }

  /*  End Toggle Switch  */
}

#custom-radio-tabs {
  label {
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
  }

  .active {
    background-color: #ffc300;
    color: #000;
    transition: all 0.2s ease-in-out;
  }
}

.transition-image {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.4s ease-in-out;
}

.transition-ease-in {
  transition: all 0.3s ease-in-out;
}

.transition-slide-in {
  transition: all 0.3s ease-in-out;
}

.pseudo-background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  inset: 0;
  top: 0;
  position: absolute;
  max-height: 25rem;
  min-height: 40%;
  opacity: 0.3;

}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal__window {
  position: relative;
  background-color: white;
  padding: 4em 2em;
}

.modal__close {
  position: absolute;
  top: -30px;
  right: 0;
}

#modal:not(:target) {
  visibility: hidden;
  opacity: 0;
}

.box-shadow {
  box-shadow: 0px 0px 5px 2px rgba(55, 65, 81, 0.55);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(55, 65, 81, 0.55);
  -moz-box-shadow: 0px 0px 5px 2px rgba(55, 65, 81, 0.55);
}

#cast_scroller::after {
  content: "";
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0, #000814 100%);
  pointer-events: none;
  transition: linear 0.5s;
}

div#cast_scroller.scrolled::after {
  opacity: 0;
  transition: linear 0.5s;
}

.text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.text-main-accent {
  color: #FFC300
}

.truncate-text {
  position: relative;

  .truncate-child {
    display: none;
  }

  span {
    box-shadow: 0px 0px 11px 17px rgba(0, 8, 20, 0.75);
    -webkit-box-shadow: 0px 0px 11px 17px rgba(0, 8, 20, 0.75);
    -moz-box-shadow: 0px 0px 11px 17px rgba(0, 8, 20, 0.75);
  }
}

.truncate-text.full-view {
  .truncate-child {
    display: block !important;
  }
}

.move-animation {
  animation-name: move;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes move {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.move-out-animation {
  animation-name: move-out;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes move-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
    display: none;
  }
}

.move-in-modal {
  animation-name: move-in-modal;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes move-in-modal {
  0% {
    transform: translateY(-100%);
    opacity: 0;
    display: none;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.move-out-modal {
  animation-name: move-out-modal;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes move-out-modal {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }

  100% {
    transform: translateY(-100%);
    opacity: 1;
    display: none;

  }
}